# Lab-1: Data Manipulation and Exploration.
_____
##### In this lab, you will manipulate a dataset and prepare it for training and testing.

### Objectives:
1. Data exploration
2. One-hot-encoding of categorical features
3. Data imputation
4. Features Scaling
5. Trainset splitting
6. Data plotting
-----
### Loading Data

In [3]:
import pandas as pd

data = pd.read_csv('./data/train.csv')
x_test_private = pd.read_csv('./data/test.csv')
x_train = data.loc[:, :'Gender Inequality Index (GII)']
y_train = data['y']

In [8]:
data.head(5)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

### Data exploration

In [4]:
x_train.head(5)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN

In [6]:
types = x_train.dtypes
print("Number categorical featues:", sum(types=='object'))
print(types)

Number categorical featues: 1
galactic year                                                                  int64
galaxy                                                                        object
existence expectancy index                                                   float64
existence expectancy at birth                                                float64
Gross income per capita                                                      float64
                                                                              ...
Intergalactic Development Index (IDI), male, Rank                            float64
Adjusted net savings                                                         float64
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total    float64
Private galaxy capital flows (% of GGP)                                      float64
Gender Inequality Index (GII)                                                float64
Length: 79, dtype: object

In [7]:
x_train.describe()

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",...,Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
count,3.865000e+03,3864.000000,3864.000000,3837.000000,3837.000000,3732.000000,3502.000000,3474.000000,3474.000000,3432.000000,...,867.000000,916.000000,915.000000,914.000000,893.000000,892.000000,912.000000,941.000000,874.000000,844.000000
mean,1.000709e+06,0.872479,76.798111,31633.240872,0.825154,14.723296,10.283959,0.804246,0.745900,135.129178,...,8.837096,0.823561,0.844209,1.008465,121.754797,120.873428,21.252922,6.443023,22.261474,0.600733
std,6.945463e+03,0.162367,10.461654,18736.378445,0.194055,3.612546,3.319948,0.176242,0.199795,52.449535,...,2.806800,0.185780,0.159041,0.087299,46.269362,46.795666,14.258986,4.804873,34.342797,0.205785
min,9.900250e+05,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,9.925906,...,2.313778,0.305733,0.369519,0.465177,23.224603,16.215151,-76.741414,-1.192011,-735.186886,0.089092
25%,9.950060e+05,0.763027,69.961449,20169.118912,0.677131,12.592467,7.654169,0.671862,0.597746,92.262724,...,6.843091,0.690707,0.731264,0.965800,84.090816,82.232550,15.001028,4.113472,17.227899,0.430332
50%,1.000000e+06,0.907359,78.995101,26600.768195,0.827300,14.942913,10.385465,0.824758,0.761255,135.914318,...,8.518629,0.835410,0.862773,1.029947,120.069916,121.057923,22.182571,5.309497,24.472557,0.624640
75%,1.006009e+06,0.992760,84.558971,36898.631754,0.970295,17.123797,12.884752,0.939043,0.893505,175.301993,...,10.573365,0.970365,0.961369,1.068481,158.579644,157.815625,29.134738,6.814577,31.748295,0.767404
max,1.015056e+06,1.246908,100.210053,151072.683156,1.361883,26.955944,19.057648,1.232814,1.269625,278.786613,...,23.531546,1.237661,1.182746,1.181230,232.720847,233.915373,61.903641,36.538462,95.941245,1.098439

### One-hot-encoding of categorical feature
1. Why to encode the categorical feature?
2. Why one-hot-encoding form? why not give each category in the feature a specific code value?
3. How many new features will be added? What if we have some missing values, which is the case in this dataset?
4. When is it appropriate to give each category an encoding value?

##### In the next cell, implement the function that take a dataframe, name of the categorical feature, and the encoder object. Then, adds new features that represent the one-hot-encoding form of this feature and ignore the missing values in it (encode them to zeros).
##### Then encode the same column/feature in the testset with the same encoder object.

In [49]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
d = x_train["galaxy"]


enc1 = encoder.fit(X=d.values.reshape(-1,1))# to reshape from one row to coloumns only with the value not the indexes of the data
enc1.categories_

185698

[array(['Andromeda Galaxy (M31)', 'Andromeda I', 'Andromeda II',
        'Andromeda III', 'Andromeda IX', 'Andromeda V', 'Andromeda VIII',
        'Andromeda X', 'Andromeda XI', 'Andromeda XII',
        'Andromeda XIX[60]', 'Andromeda XV', 'Andromeda XVII',
        'Andromeda XVIII[60]', 'Andromeda XX', 'Andromeda XXIII',
        'Andromeda XXII[57]', 'Andromeda XXIV', 'Andromeda XXIX',
        'Andromeda XXI[57]', 'Andromeda XXV', 'Andromeda XXVI',
        'Andromeda XXVIII', 'Antlia 2', 'Antlia B', 'Antlia Dwarf',
        'Aquarius Dwarf Galaxy (DDO 210)', 'Aquarius II',
        "Barnard's Galaxy (NGC 6822)", 'BoÃ¶tes I', 'BoÃ¶tes II',
        'BoÃ¶tes III', 'BoÃ¶tes IV', 'Camelopardalis B',
        'Canes Venatici I Dwarf', 'Canes Venatici II Dwarf',
        'Carina Dwarf (E206-G220)', 'Carina II', 'Carina III',
        'Cas 1 (KK98 19)', 'Cassiopeia Dwarf (Cas dSph, Andromeda VII)',
        'Cassiopeia II (Andromeda XXX)',
        'Cassiopeia III (Andromeda XXXII)', 'Cetus Dwarf', 'Cetus III',
        'Columba I', 'Coma Berenices Dwarf', 'Crater II',
        'DDO 99 (UGC 6817)', 'Donatiello I', 'Draco Dwarf (DDO 208)',
        'Draco II', 'Dwingeloo 1', 'Dwingeloo 2', 'ESO 274-01[70]',
        'ESO 294-010', 'ESO 321-014[70]', 'ESO 325-11',
        'ESO 383-087 (ISG 39)', 'ESO 410-G005', 'ESO 540-030 (KDG 2)',
        'ESO 540-032', 'Eridanus II', 'FM2000 1',
        'Fornax Dwarf (E356-G04)', 'GR 8 (DDO 155)', 'Grus I', 'Grus II',
        'HIPASS J1247-77', 'HIZSS 003', 'Hercules Dwarf',
        'Holmberg II (DDO 50, UGC 4305)', 'Horologium I', 'Horologium II',
        'Hydra II', 'Hydrus I', 'IC 10 (UGC 192)', 'IC 1613 (UGC 668)',
        'IC 3104', 'IC 342', 'IC 4662 (ESO 102-14)', 'IC 5152', 'Indus II',
        'KK98 35', 'KK98 77', 'KKH 11 (ZOAG G135.74-04.53)', 'KKH 12',
        'KKH 37 (Mai 16)', 'KKR 03 (KK98 230)', 'KKR 25', 'KKh 060',
        'KKh 086', 'KKh 98', 'KKs 3', 'KUG 1210+301B (KK98 127)',
        'Lacerta I (Andromeda XXXI)', 'Large Magellanic Cloud (LMC)',
        'Leo A (Leo III, DDO 69)', 'Leo I Dwarf (DDO 74, UGC 5470)',
        'Leo II Dwarf (Leo B, DDO 93)', 'Leo IV Dwarf', 'Leo P',
        'Leo T Dwarf', 'Leo V Dwarf', 'M110 (NGC 205)', 'M32 (NGC 221)',
        'MB 1 (KK98 21)', 'MB 3', 'Maffei 1', 'Maffei 2',
        'NGC 147 (DDO 3)', 'NGC 1560', 'NGC 1569 (UGC 3056)', 'NGC 185',
        'NGC 2366', 'NGC 2403', 'NGC 247', 'NGC 300', 'NGC 3109',
        'NGC 3741', 'NGC 404', 'NGC 4163 (NGC 4167)',
        'NGC 4214 (UGC 7278)', 'NGC 5102', 'NGC 5206', 'NGC 5237',
        'NGC 5253', 'NGC 55', 'Pegasus Dwarf Irregular (DDO 216)',
        'Pegasus Dwarf Sph (And VI)', 'Pegasus III',
        'Perseus I (Andromeda XXXIII)', 'Phoenix Dwarf Galaxy (P 6830)',
        'Phoenix II', 'Pictor II', 'Pisces Dwarf', 'Pisces I', 'Pisces II',
        'Pisces III (Andromeda XIII)', 'Pisces IV (Andromeda XIV)',
        'Pisces V (Andromeda XVI)', 'Reticulum II', 'Reticulum III',
        'Sagittarius Dwarf Irregular Galaxy (SagDIG)',
        'Sagittarius Dwarf Sphr SagDEG', 'Sagittarius II',
        'Sculptor Dwarf (E351-G30)', 'Segue 1', 'Segue 2',
        'Sextans A (92205, DDO 75)', 'Sextans B (UGC 5373)',
        'Sextans Dwarf Sph', 'Small Magellanic Cloud (SMC, NGC 292)',
        'Triangulum Galaxy (M33)', 'Triangulum II', 'Tucana Dwarf',
        'Tucana II', 'Tucana III', 'Tucana IV', 'UGC 4483',
        'UGC 4879 (VV124)[61]', 'UGC 7577 (DDO 125)',
        'UGC 8508 (I Zw 060)', 'UGC 8651 (DDO 181)', 'UGC 8833',
        'UGC 9128 (DDO 187)', 'UGC 9240 (DDO 190)', 'UGCA 105',
        'UGCA 133 (DDO 44)', 'UGCA 15 (DDO 6)', 'UGCA 276 (DDO 113)',
        'UGCA 292', 'UGCA 438 (ESO 407-018)', 'UGCA 86', 'UGCA 92',
        'Ursa Major I Dwarf (UMa I dSph)', 'Ursa Major II Dwarf',
        'Ursa Minor Dwarf', 'Virgo I', 'Willman 1',
        'Wolf-Lundmark-Melotte (WLM, DDO 221)'], dtype=object)]

In [53]:
from sklearn.preprocessing import OneHotEncoder

encoder = None

def ohe_new_features(df, feature_name, encoder):
    # Write your code here (4:6 lines) ###
    # create new features from the encoder transform function
    feature = df[feature_name]
    values = feature.values.reshape(-1,1)
    encoded_ft = encoder.fit_transform(values)
    encoded_ft = pd.DataFrame(encoded_ft)
    # concat it to the original dataframe
    result_df = pd.concat([df, encoded_ft], axis=1)
    # delete the categorical feature.
    result_df = result_df.drop(feature_name, axis=1)
    return result_df
    
# Write your code here (2 lines)
# Transform both train and testset using ohe
encoder = OneHotEncoder(handle_unknown="ignore", sparse=False)
x_train = ohe_new_features(x_train,"galaxy", encoder)

KeyError: 'galaxy'

In [55]:
x_train

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",...,171,172,173,174,175,176,177,178,179,180
0,990025,0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,990025,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,152.522198,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,990025,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,209.813266,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,990025,0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,990025,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,71.885345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3860,1015056,1.029704,82.832063,34310.471408,0.855094,18.578586,10.557143,0.906573,0.862826,144.896214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,1015056,0.937869,75.877098,36899.067719,0.929494,16.153857,9.151665,0.865822,0.747577,164.692000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,1015056,1.036144,93.540275,37002.977875,1.085245,21.066473,16.661344,0.983835,1.100779,63.726437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,1015056,0.939034,78.274427,28180.459770,0.687655,9.388911,8.908748,0.735694,0.602703,216.805701,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,1015056,1.032244,91.641356,73109.215949,1.207746,18.910920,16.202486,1.171634,1.085080,63.924650,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Data Imputation
#### Imputation is filling the missing values in the dataset.
Several issues to address:
1. Why we should fill them? Why not remove the rows that has missing values?
2. Filling it with constant value for each value, but what's it?
3. (Advanced) Estimate the filling value, each row for its own.
4. How to choose the imputation strategy?
4. (Not related only to imputations) Why we fit the imputer to the training data not the concatenation of both train and test set?

##### In the next cell, implement a function that returns the count of nan/empty cells in a dataframe.
##### Use SimpleImputer object, fit it to the trainset, then transform both the train and test sets.

In [58]:
from sklearn.impute import SimpleImputer

# Complete a function that returns number of empty cells in
def count_nans(df):
    # 1 or 2 lines.
    return df[:].isna().sum().sum()

# Print number of empty cells both in x_train and x_test_private (1 line)
print("Number of nans in x_train: {:}, Number of nans in x_test_private: {:}".format(count_nans(x_train), count_nans(x_test_private))
# Write your code here (4 lines):
# create the imputer object.
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
# fit it to the trainset.
# imp_mean
# transform the train and test set.


# Print number of empty cells both in x_train and x_test_private (1 line)

SyntaxError: invalid syntax (<ipython-input-58-8c4e040e4852>, line 12)

### Features Scaling
1. Why we need to make all the features have same range of values?
2. What are the different strategies to scale the features?
3. How to choose the strategy?

##### In the following cell, scale all the features with a scaler from your choice. Fit the scaler on the training set and transform both train and test set.

In [ ]:
# Write your code here (5 lines):
# choose the scaler class.
# create the scaler object.
# fit it to the trainset.
# transform the train and test set.

from sklearn.preprocessing import ???

### Trainset splitting
Issues that lead to trainset splitting:
1. How we will measure the performance of our model?
2. How we will tune the hyperparamters? Can it be done with testset?

Issues to think of:
1. Is is the best strategy to get the best estimate for the true risk/performance of the system?
2. How to choose between two models?


##### In the next task, you will split your data into 3 parts, train, test, and validation by ratios: 70%, 20%, and 10% respectively.

In [ ]:
from sklearn.model_selection import train_test_split
# Write your code here (2 lines)

### Data Plotting
Visualization is key-issue to get some insights and intuition about your dataset.
How to plot 79 features (79-dimensional data)? what we can plot -at maximum- is 2d or 3d data.

Hint: We should reduce the dimension. Read this [article](https://towardsdatascience.com/dimensionality-reduction-ways-and-intuitions-1b5e97592d8e).

So, Let's use MDS to reduce the dimension of this dataset to be 2D. (refer to the above article on how to use and the intuition behind it).

In [ ]:
from sklearn.decomposition import PCA, FactorAnalysis, FastICA
from sklearn.manifold import MDS, TSNE
from umap import UMAP

dim_reducer = UMAP(n_components=2)
x_train_reduced = dim_reducer.fit_transform(x_train)

Let's plot the reduced dataset on a 2D plane.
Use matplotlib to make a scatter plot for the reduced dataset.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

# Write code to plot the reduced dataset in a scatter plot.